@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background: radial-gradient(circle, #3c0f61, #b766a1);
    font-family: 'Bebas Neue', sans-serif;
    color: #d79ec2;
    text-align: center;
    margin-bottom: 10px;
}

.header h1 a {
    color: inherit;
    text-decoration: none;
  }

.logo {
    margin-right: 10px;
}

.logo img {
    height: 20px; 
}

h1 {
    font-size: 24px;
    margin: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    text-align: center;
    margin-top: 16px;
    color: aliceblue;
    background-color: #23222281;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Adjust the max-width to your preference */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  

.card-container img {
  border-radius: 8px;
  width: 50%;
  max-height: 400px;
  margin-bottom: 10px;
}

.card-container .slick-slider {
  width: 100% !important;
}

/* Default styles for container and card-slider */
.container {
    max-width: 500px; /* Adjust the max-width to your preference */
    margin: 0 auto;
    padding: 20px;
  }

#card-slider {
  width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

button {
    background-color: rgba(73, 184, 214, 0.5);
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif; /* Update the font-family */
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  button:hover {
    background-color: rgba(73, 184, 214, 0.8);
  }
