@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
  background: radial-gradient(circle, #3c0f61, #b766a1);
  font-family: 'Italiana', serif;
  color: #d79ec2;
  text-align: center;
  margin-bottom: 10px;
}

.gradient-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAJUlEQVQI12NkgIKqzI7GhzGoEAErUANd6vZirDAAAAAElFTkSuQmCC');
}



@keyframes noise {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500px 500px;
  }
}

#parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  font-size: 18px;
  color: #fdfafa;
  padding: 30px;
  margin: 10px auto;
  margin-bottom: 10px;
  background-color: transparent;
}

.card {
  background-color: rgba(32, 32, 32, 0.538);
  border-radius: 0.5rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-center {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button {
  background-color: rgba(73, 184, 214, 0.5);
  color: #ffffff;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: rgba(73, 184, 214, 0.8);
}

@media (max-width: 768px) {
  #parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    width: auto;
    border-radius: 8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .small-card {
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
  }

  #button-container {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.card-description {
  font-size: 20px !important;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.rounded-lg {
  border-radius: 0.5rem;
}
  
p {
  line-height: 1; 
  margin-bottom: 20px;
}
