.navbar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
  position: relative;
}

.text-2xl {
  margin-top: auto;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.image-logo {
  width: 24px;
  height: 24px;
  margin-left: 6rem; /* Adjust the margin as needed */

}
