.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    text-align: center;
    margin-top: 16px;
    color: aliceblue;
    background-color: #23222281;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-container img {
    border-radius: 8px;
    width: 80%;
    max-height: 400px; /* Adjust the max height if needed */
    margin: 0 auto; 
    margin-bottom: 10px;
  }
  
  .card-container .slick-slider {
    width: 100% !important;
  }
  